table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
  }
  
  th,
  td {
    padding: 20px;
  }

  thead,
  tfoot {
  color: red;
  text-shadow: 1px 1px 1px black;
}